/*Transitions*/
@keyframes transition-after {
    from {
        background: transparent;
    }
    to {
        background:#1d1d1d;
    }
}
@keyframes transition-before {
    from {
        background: #1d1d1d;
    }
    to {
        background:transparent;
    }
}

/*right to center animation*/
@keyframes r2c {
    0% {
        right: 0;
        top: 0;
        width: 200%;
        transform: rotate(0) scale(1);
        animation-timing-function: linear;
    }

    30% {
        right: -15%;
        top: -20%;
        width: 115%;
        transform: rotate(0) scale(1);
        animation-timing-function: linear;
    }

    100% {
        right: 0%;
        top: 10%;
        width: 100%;
        transform: rotate(30deg) scale(1.5);
        animation-timing-function: linear;
    }
}

/* center right to center left animation */
@keyframes cr2cl {
    0% {
        right: -64%;
        top: -51%;
        width: 190%;
        animation-timing-function: ease-in;
        transform: rotate(0);
    }
    30% {
        right: -43%;
        top: -42%;
        width: 160%;
        animation-timing-function: ease-out;
        transform: rotate(0);
    }
    85% {
        right: -12%;
        top: -33%;
        width: 140%;
        animation-timing-function: ease-in;
        transform: rotate(0);
    }
    100% {
        right: -27%;
        top: -58%;
        width: 110%;
        transform: rotate(30deg) scale(2);
        animation-timing-function: ease-out;
    }
}

/*color zoom out*/
@keyframes czo {
    0% {
        filter: grayscale(100%);
        transform: rotate(0) scale(2);
        animation-timing-function: ease-in;
    }
    30% {
        transform: rotate(5deg) scale(1.7);
        animation-timing-function: ease-out;
    }
    60% {
        transform: rotate(10deg) scale(1.3);
        animation-timing-function: ease-in;
    }
    100% {
        transform: rotate(15deg) scale(1.8);
        animation-timing-function: ease-out;
    }
}
/*color zoom in*/
@keyframes czi {
    0% {
        filter: grayscale(0%); 
        transform: scale(1) rotate(0deg);
        animation-timing-function: ease-in;
    }
    50% {
        filter: grayscale(30%);
        transform: scale(1.3) rotate(5deg);
        animation-timing-function: ease-out;
    }
    100% {
        filter: grayscale(100%);
        transform: scale(2) rotate(15deg);
    }
}
/*basic style*/
body {
    overflow: hidden; 
    background-color: #000000;
    height: 100vh;
    width: 100%;
}
#root::before {
    content: '';
    position: absolute;
    background-color: #000000;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}
#root::after {
    content: '';
    position: absolute;
    background-color: #000000;
    height: 100px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
}

/*Transition 8s*/
.transition-after {
    height: 100vh;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    animation-name: transition-after;
    animation-delay: 9.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;  
}

.transition-before {
    height: 100vh;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    background-color: #1d1d1d;
    animation-name: transition-before;
    animation-delay: 0s;
    animation-duration: 1s;
    animation-fill-mode: forwards;  
}

/***********
Main Classes
************/

/*right to center*/
.right-to-center {
    position: absolute;
    animation-name: r2c;
    right: -50%;
    top: -60%;
    width: 200%;
    animation-duration: 10s;
}

/* center right to center left*/
.center-right-to-center-left {
    position: absolute;
    animation-name: cr2cl;
    right: -27%;
    top: -58%;
    width: 170%;
    transform: rotate(30deg) scale(1.5);
    animation-duration: 10s;
}

/*color zoom out*/
.color-zoom-out {
    position: absolute;
    animation-name: czo;
    height: 100vh;
    width: 100%;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

/*color zoom in*/
.color-zoom-in {
    position: absolute;
    animation-name: czi;
    height: 100vh;
    width: 100%;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}